











.todo-card:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.remove{
  padding: 10px;
  background-color: rgb(111, 197, 111);
  width: 40% !important;
}
.todo{
  padding: 10px;
  background-color: #deb16f;
  width: 40% !important;
}
.contain{
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}
.todo-icons{
  margin: 0px 5px;
  cursor: pointer;
}
.todo-icons:hover{
 transform: scale(1.2);
}
.todo-card{
  width: 90%;
  height: 50px;
  background-color: #73e286;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  padding: 0px 10px;
}
.todos{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 20px;
}


.form_input:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);

}
.submit_button:active{
    transform: scale(0.9);
}
.app {
  background-color: #2f74c0;
  height: 100vh;
  width: 100vw;
}


@media (max-width:700px){
  .contain{
    flex-direction: column;
  }
  .todo{
    width: 100% !important;
  }
  .remove{
    width: 100% !important;
  }
}